h1 {
  font-family: Helvetica;
}

.tabmn:hover {
  text-shadow: 1px 1px 5px #6b6b6b, 1px -1px 5px #6b6b6b, -1px 1px 5px #6b6b6b, -1px -1px 5px #6b6b6b;
}

.nav-link:hover {
  cursor: pointer;
}

i {
  float: right;
}

.img {
  width: 18px;
  height: 25px;
}

.card {
  width: 9rem;
  height: 12rem;
  background-size: cover;
}

.card-title {
  text-shadow: 1px 1px 5px white, 1px -1px 5px white, -1px 1px 5px white, -1px -1px 5px white;
  font-family: Impact;
  margin: 0;
  padding: 0;
}

a.card:hover {
  text-decoration: none !important;
  color: #000000 !important;
}

a.card {
  text-decoration: none !important;
  color: #000000 !important;
}

a.btn:hover {
  text-decoration: none !important;
  color: #ffffff !important;
}

a.btn {
  text-decoration: none !important;
  color: #ffffff !important;
}

@media (max-width: 899px) {
  .d-flex::-webkit-scrollbar {
    display: none;
  }

  .d-flex {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (min-width: 900px) {
  .d-flex::-webkit-scrollbar {
    height: 10px;
  }

  .d-flex::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 20px;
  }

  .d-flex::-webkit-scrollbar-thumb {
    background-color: #212529;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
  }
}