input {
    width: 100px;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

@media (min-width: 900px) {
    #scroll {
        margin-top: 20vh;
    }

    p {
        font-family: math;
        font-size: 18px;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #212529;
        border-radius: 20px;
        border: 2px solid rgb(255, 255, 255);
    }
}

@media (max-width: 899px) {
    #scroll {
        margin-top: 25vh;
    }

    p {
        font-family: math;
        font-size: 16px;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #212529;
        border-radius: 20px;
        border: 2px solid rgb(255, 255, 255);
    }
}